<div class="container text-center">
  <h1>Template Driven Form</h1>
</div>
<form #LoginForm = "ngForm" (ngSubmit)="processData()">
  <div class="ms-4">
    <div class="mb-3">
      <label class="form-label">UserName:</label>
      <input type="name" class="form-control" name="userName" [(ngModel)]="user.userName" #userName="ngModel" required pattern="">
      <div *ngIf="userName.invalid && userName.touched" [ngStyle]="{'color':'red'}">Please Enter Valid Username.</div>
    </div>

  <div class="mb-3">
    <label  class="form-label">Email address:</label>
    <input type="email" class="form-control" name="userEmail" [(ngModel)]="user.userEmail" #userEmail="ngModel" required pattern="^[a-zA-Z0-9._%±]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$">
    <div *ngIf="userEmail.invalid && userEmail.touched" [ngStyle]="{'color':'red'}">Please Enter Valid Email Address.</div>
  </div>

  <div class="mb-3">
      <label class="form-label">Password:</label>
      <input type="password" class="form-control" name="userPassword" [(ngModel)]="user.userPassword" #userPassword="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$">
      <div *ngIf="userPassword.invalid && userPassword.touched" [ngStyle]="{'color':'red'}">Please Enter Valid Password.</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Contact:</label>
      <input type="number" class="form-control" name="userContact" [(ngModel)]="user.userContact" #userContact="ngModel" required maxlength="10" minlength="10" pattern="[0-9]{10}">
      <div *ngIf="userContact.invalid && userContact.touched" [ngStyle]="{'color':'red'}">Please Enter Valid Contact.</div>
    </div>

    <div class="mb-3">
      <label class="form-label">SPI:</label>
      <input type="number" class="form-control" name="userSPI" [(ngModel)]="user.userSPI" #userSPI="ngModel" required min="0" max="10">
      <div *ngIf="userSPI.invalid && userSPI.touched" [ngStyle]="{'color':'red'}">Please Enter Valid SPI.</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Age:</label>
      <input type="number" class="form-control" name="userAge" [(ngModel)]="user.userAge" #userAge="ngModel" required min="18">
      <div *ngIf="userAge.invalid && userAge.touched" [ngStyle]="{'color':'red'}">Please Enter Valid Age.</div>
    </div>
  <button type="submit" class="btn btn-primary" [disabled]="LoginForm.invalid" >Submit</button>
  </div>
  </form>