.data{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;;
    /* background-color: rgb(228, 250, 243); */
    border-radius: 20px;
}
.btn{
    float: right;
}

.resume{
    height: 150vh;
    width: 50%;
    background-color: rgb(203, 161, 242);
}

.fname{
    display: flex;
    align-items: center;
    height: 7%;
}

.sum{
    word-wrap: break-word;
}