.headp p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 20px;
}

.content {
    line-height: 15px;
}

.block {
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: lightgrey;
    padding: 10px;
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;

}