<div class="container">
    <h1>Two Way Binding</h1>
</div>

<div class="container p-3 mt-4 bg-info bg-opacity-10 border border-info rounded">
    <nav class="navbar bg-body-tertiary p-3">
        <div class="container-fluid">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Student Name:</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" [(ngModel)] = "StuName">
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary" (click)="insert()">{{btnName}}</button>
                </div>
            </div>
            <div class="d-flex" role="search">
                <input class="form-control me-2" placeholder="Search" (input)="filtered()" [(ngModel)] = "searchName">
                <!-- <button class="btn btn-outline-primary">Search</button> -->
            </div>
        </div>
    </nav>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">name</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of filter; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{s}}</td>
            <td><button class="btn btn-outline-info" (click)="delete(i)">Delete</button></td>
            <td><button class="btn btn-outline-info" (click)="update(i)">Update</button></td>
          </tr>
        </tbody>
      </table>
</div>